<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        .container {
            max-width: 1500px;
            margin: 100px auto;
        }

        .btn-container {
            display: flex;
            flex-wrap: wrap; /* Позволяет кнопкам переходить на новую строку */
            justify-content: space-between; /* Равномерно распределяет кнопки по горизонтали */
            gap: 20px; /* Отступ между кнопками */
        }

        .btn {
            padding: 50px 100px;
            font-size: 36px;
            background-size: cover;
            background-position: center;
            color: white;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            border: none;
            cursor: pointer;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            -webkit-text-stroke: 1px white;
            text-stroke: 1px black;
        }

        .get-words-btn {
            background-image: url('/images/img1.jpg');
        }

        .create-words-btn {
            background-image: url('/images/img2.jpg');
        }

        .random-words-btn {
            background-image: url('/images/img3.jpg');
        }

        .get-phrases-btn {
            background-image: url('/image/img1.jpg');
        }

        .create-phrases-btn {
            background-image: url('/images/img2.jpg');
        }

        .random-phrases-btn {
            background-image: url('/images/img3.jpg');
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <div class="btn-container">
            <a class="btn get-words-btn" href="@Url.Action("Get", "Words")">My all words</a>
            <a class="btn create-words-btn" href="@Url.Action("Create", "Words")">Create new word</a>
            <a class="btn random-words-btn" href="@Url.Action("RandomWords", "Words")">Random Words Game</a>

          @*   <a class="btn get-phrases-btn" href="@Url.Action("Get", "Phrases")">My all phrases</a>
            <a class="btn create-phrases-btn" href="@Url.Action("Create", "Phrases")">Create new phrase</a>
            <a class="btn random-phrases-btn" href="@Url.Action("RandomPhrases", "Phrases")">Random Phrases Game</a> *@
        </div>
    </div>
</body>
</html>
