@model List<WebMVC.DAL.Models.Word>

<!DOCTYPE html>
<html>
<head>
    <title>Words</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        h1 {
            text-align: center;
            margin-bottom: 20px;
        }

        table {
            width: 80%;
            border-collapse: collapse;
            margin: 0 auto;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        .delete-button {
            background-color: #dc3545;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 8px 12px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .delete-button:hover {
                background-color: #c82333;
            }

        .search-form {
            text-align: center;
            margin-bottom: 20px;
        }

        .search-input {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .search-button {
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            padding: 8px 12px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .search-button:hover {
                background-color: #0056b3;
            }
    </style>
</head>
<body>
    <h1>List of Words</h1>
    <div class="search-form">
        <form method="get" action="@Url.Action("Get", "Words")">
            <input type="text" class="search-input" name="searchString" placeholder="Search...">
            <button type="submit" class="search-button">Search</button>
            <h1></h1>
            <a href="@Url.Action("Create", "Words")" class="link">Create new word</a>
        </form>
    </div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Word</th>
                <th>Translation</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var word in Model)
            {
                <tr>
                    <td>@word.Id</td>
                    <td>@word.WordText</td>
                    <td>@word.Translation</td>
                    <td>
                        <form asp-action="Delete" asp-controller="Words" method="post">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="id" value="@word.Id" />
                            <button type="submit" class="delete-button">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
